@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    color: #FFFFFF;
}
a {
    color: #419CFA;

}
.titulo-destaque{
    color: #22d4fd;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__paragrafo{
   display: flex;
   justify-content: space-between;
   font-family:'Krona One', sans-serif;
}
.apresentacao__conteudo__titulo{
    font-family:'Krona One', sans-serif;
    font-size: 36px;
}
.apresentacao__conteudo__texto{
    font-family: "Kode Mono", monospace;
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
}
.apresentacao__links__botao{
    background-color: #22d4fd;
    color: black;
    width: 280px;
    height: 25px;
    border-radius: 16px;
    font-size: 20px;
    text-align: center;
    padding: 21.5 0;
    text-decoration: none;
    font-family:'Krona One', sans-serif;
    
}